/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet Landscape
[1200  - 1600] is where our normal style apply
1800px + : Big 
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typograpjy + general layout + grid + page layout > Components
1em = 16px
*/
html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

body {
  position: relative; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  text-decoration: none;
  width: 100%; }

.heading-primary {
  color: #2998ff;
  text-transform: uppercase;
  font-size: 8rem;
  padding: 0%;
  position: relative;
  animation: moveRight 2s;
  letter-spacing: 15px; }
  @media (max-width: 75em) {
    .heading-primary {
      font-size: 5em; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 3.5em; } }
  .heading-primary-main {
    margin-top: 0%;
    display: block;
    color: #5643fa;
    position: absolute;
    top: 46%;
    left: 50%;
    font-weight: 900;
    letter-spacing: 10px; }
    @media (max-width: 75em) {
      .heading-primary-main {
        left: 10%;
        top: 60%; } }

.heading-secondary {
  color: #2998ff;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900; }
  @media (max-width: 75em) {
    .heading-secondary {
      font-size: 2.5em; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2em; } }

.heading-tertiary {
  display: inline-block;
  color: #2998ff;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 4rem;
  font-weight: 900;
  animation: moveUp 3s;
  letter-spacing: 10px; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 2em; } }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.5em; } }

.heading-quartiary {
  display: inline-block;
  color: #777;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #d6d6d6;
  letter-spacing: 5px; }
  @media (max-width: 75em) {
    .heading-quartiary {
      font-size: 2rem; } }

.paragraph {
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-family: "lato";
  font-size: 1.4rem;
  letter-spacing: 2px; }
  .paragraph__skills {
    color: #5643fa;
    text-transform: uppercase; }
    @media (max-width: 75em) {
      .paragraph__skills {
        font-size: 1rem; } }
  .paragraph__about {
    color: #fff;
    text-transform: uppercase; }
  .paragraph__location {
    display: inline-block; }
  .paragraph.light {
    color: #d6d6d6; }

.heading-footer {
  display: inline-block;
  color: #d6d6d6;
  font-weight: 900;
  font-family: "lato";
  font-size: 1.6rem;
  letter-spacing: 2px; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }
  @media (max-width: 75em) {
    .u-margin-bottom-large {
      margin-bottom: 2rem; } }

.u-margin-top {
  margin-top: 2rem; }

.link {
  display: inline-block;
  text-transform: uppercase;
  color: #5643fa;
  font-weight: 600;
  line-height: 20px; }

.info {
  color: red; }

@keyframes moveRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveUp {
  0% {
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.btn {
  outline: none;
  text-decoration: none;
  transition: all 0.5s;
  color: black;
  display: inline-block; }
  .btn:hover {
    transform: scale(1.1); }

.btn__links--container {
  position: relative;
  display: flex; }

.btn__link {
  display: inline-block; }

.skills .devicon-javascript-plain {
  font-size: 4rem; }

.skills .icon-redux {
  width: 4rem;
  height: 4rem; }

.icon {
  display: inline-block;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  transition: all .7s; }
  .icon.devicon-webpack-plain-wordmark {
    font-size: 5rem; }
  .icon.devicon-mysql-plain-wordmark {
    font-size: 5rem; }
    @media (max-width: 37.5em) {
      .icon.devicon-mysql-plain-wordmark {
        font-size: 2rem; } }
  .icon.icon-basic-geolocalize-01 {
    font-size: 1.5rem;
    color: #c00e0e; }
  .icon.icon-basic-eye {
    position: absolute;
    font-size: 3rem;
    top: -10%;
    left: 0; }
  @media (max-width: 56.25em) {
    .icon {
      font-size: 3rem;
      width: 3rem;
      height: 3rem; } }
  @media (max-width: 37.5em) {
    .icon {
      font-size: 2.5rem;
      width: 2.5rem;
      height: 2.5rem; } }

.footer {
  padding: 2rem;
  background: #111;
  text-align: center; }

.header {
  height: 94vh;
  background-image: url("./img/photo-laptopcel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 75em) {
    .header {
      padding: 6rem 0; } }
  .header__text-box {
    background: transparent;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; }

.navigation {
  background: white;
  padding: 0%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10000;
  width: 100%;
  opacity: .7; }
  .navigation__list {
    display: flex;
    justify-content: flex-start;
    padding: 0%;
    margin: 0%; }
    .navigation__list--item {
      background: white; }
      .navigation__list--item:not(:first-child) {
        margin: 0 2px; }
  .navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 2rem;
    transition: all 0.51s;
    font-weight: 700;
    color: #5643fa; }
    .navigation__link:hover {
      background: #2998ff;
      color: #fff; }

.navigation__responsive {
  border: 1px solid black; }
  .navigation__responsive__nav {
    position: fixed;
    top: 9.5em;
    left: 1.65em;
    z-index: 10000;
    opacity: 0;
    width: 0%;
    transition: opacity 0.8s; }
  .navigation__responsive__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    left: 6.5rem;
    background-image: radial-gradient(#2998ff, #5643fa);
    z-index: 100000; }
  .navigation__responsive__button {
    background: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    left: 6rem;
    border-radius: 50%;
    z-index: 200000; }
  .navigation__responsive__checkbox {
    display: none; }
  .navigation__responsive__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0%;
    width: 100%; }
    .navigation__responsive__list--item {
      width: 100%;
      margin: 0 auto; }
  .navigation__responsive__link:link, .navigation__responsive__link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 2rem;
    transition: all 0.51s;
    font-weight: 700;
    color: #5643fa;
    width: 100%;
    background-image: linear-gradient(120deg, #2998ff 0%, transparent 50%, #fff 60%);
    background-size: 220%;
    transition: all 0.7s;
    width: 100%; }
  .navigation__responsive__link:hover, .navigation__responsive__link:active {
    color: #2998ff;
    background-position: 100%;
    transform: translate(0.5rem); }
  .navigation__responsive__checkbox:checked ~ .navigation__responsive__nav {
    opacity: 1;
    width: 12%; }

.about {
  margin-top: -18rem;
  padding: 25rem 10rem 15rem 10rem;
  background: #f7f7f7;
  text-align: center;
  border-bottom: 2px solid #d6d6d6; }
  @media (max-width: 75em) {
    .about {
      padding: 25rem 0rem; } }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about__box {
    width: 50%; }
    @media (max-width: 75em) {
      .about__box {
        width: 80%; } }
    @media (max-width: 37.5em) {
      .about__box {
        width: 100%; } }
  .about__text {
    padding: 1rem; }
  .about__skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem; }
    .about__skills-stacks {
      display: flex; }
    .about__skills-stack {
      width: 100%;
      border: 1px solid #d6d6d6;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      padding: 1rem 0rem;
      display: flex;
      flex-direction: column;
      transition: all 0.6s;
      background: #eee;
      border-radius: 3px; }
      .about__skills-stack:not(:last-child) {
        margin-right: 4rem; }
      .about__skills-stack:hover {
        transform: translateY(-1.55rem);
        border-bottom: 1rem solid #5643fa; }
      .about__skills-stack__icons {
        display: flex;
        flex-wrap: wrap; }

.projects {
  padding: 12rem 25rem;
  text-align: center;
  border-bottom: 2px solid #d6d6d6; }
  @media (max-width: 37.5em) {
    .projects {
      padding: none; } }
  @media (max-width: 75em) {
    .projects {
      padding: 15rem 7.5rem; } }
  .projects-cards-container {
    border-radius: 15px;
    border: transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: flex;
    width: 100%; }
    @media (max-width: 75em) {
      .projects-cards-container {
        display: block;
        border-radius: 5px;
        padding: 0rem; } }
  .projects-card {
    display: flex;
    flex-direction: column;
    border-left: 20px solid #5643fa;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    height: 400px;
    width: 100%;
    flex: 0.5; }
    @media (max-width: 75em) {
      .projects-card {
        border-left: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; } }
    .projects-card:hover .projects-card-github {
      transform: translateX(0);
      opacity: 1; }
    .projects-card-image {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 2rem;
      flex: 1;
      border-radius: 2px; }
      .projects-card-image .main {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid black; }
    .projects-card-icons {
      display: flex;
      width: 100%;
      padding: 2rem; }
      @media (max-width: 75em) {
        .projects-card-icons {
          padding: 1rem; } }
      @media (max-width: 56.25em) {
        .projects-card-icons {
          border-bottom: 1px solid grey;
          flex-wrap: wrap; } }
      .projects-card-icons .icon {
        margin: 0 auto; }
      .projects-card-icons .icon:hover {
        transform: rotateY(180deg); }
    .projects-card-github {
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translateX(-50%, -50%);
      height: 73%;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      transform: translateX(-100%);
      transition: all 2s;
      opacity: 0;
      border-radius: 2px; }
      @media (max-width: 56.25em) {
        .projects-card-github {
          display: none; } }
      .projects-card-github .btn__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        margin-top: auto; }
  .projects-textbox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem 5rem;
    flex: 0.5;
    border-right: 20px solid #5643fa;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; }
    .projects-textbox .heading-quartiary {
      margin-bottom: 0; }
    @media (max-width: 75em) {
      .projects-textbox {
        border-right: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; } }
  .projects-links {
    display: none;
    font-size: 1rem; }
    .projects-links .icon {
      font-size: 2rem; }
    .projects-links .btn {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: baseline; }
    @media (max-width: 56.25em) {
      .projects-links {
        display: block; } }

.connect {
  padding: 10rem 25rem;
  text-align: center;
  background: #f7f7f7;
  border-bottom: 2px solid #d6d6d6; }
  @media (max-width: 75em) {
    .connect {
      padding: 10rem 7rem; } }
  .connect__icons {
    display: flex; }
    @media (max-width: 75em) {
      .connect__icons {
        flex-wrap: wrap; } }
    @media (max-width: 37.5em) {
      .connect__icons {
        flex-wrap: none;
        flex-direction: column; } }
    .connect__icons--container {
      padding: 2rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column; }
    .connect__icons--container.gmail {
      border: 5px solid #DD4B39;
      border-radius: 10px; }
      .connect__icons--container.gmail p {
        color: #DD4B39; }
      .connect__icons--container.gmail:hover {
        background: #DD4B39; }
        .connect__icons--container.gmail:hover p {
          color: white; }
        .connect__icons--container.gmail:hover .icon {
          background: white;
          border: 1px solid black; }
    .connect__icons--container.facebook {
      border: 5px solid #4267b2;
      border-radius: 10px; }
      .connect__icons--container.facebook p {
        color: #4267b2; }
      .connect__icons--container.facebook:hover {
        background: #4267b2; }
        .connect__icons--container.facebook:hover p {
          color: white; }
    .connect__icons--container.twitter {
      border: 5px solid #1da1f2;
      border-radius: 10px; }
      .connect__icons--container.twitter p {
        color: #1da1f2; }
      .connect__icons--container.twitter:hover {
        background: #1da1f2; }
        .connect__icons--container.twitter:hover p {
          color: white; }
        .connect__icons--container.twitter:hover .icon {
          border: 1px solid black; }
    .connect__icons--container.linkedin {
      border: 5px solid #283e4a;
      border-radius: 10px; }
      .connect__icons--container.linkedin p {
        color: #283e4a; }
      .connect__icons--container.linkedin:hover {
        background: #283e4a; }
        .connect__icons--container.linkedin:hover p {
          color: white; }

.aboutme {
  padding: 10rem;
  background: #484848;
  text-align: center;
  border-bottom: 2px solid #d6d6d6; }
  @media (max-width: 56.25em) {
    .aboutme {
      padding: 10rem 5rem; } }
  .aboutme .paragraph.light {
    text-align: start; }
    @media (max-width: 56.25em) {
      .aboutme .paragraph.light {
        text-align: center; } }
  .aboutme .paragraph.paragraph__about.u-margin-bottom-small {
    text-align: start; }
  .aboutme__container {
    display: flex; }
    @media (max-width: 56.25em) {
      .aboutme__container {
        display: block;
        text-align: center; } }
    .aboutme__container-hi {
      flex: 1;
      margin-right: 3rem; }
    .aboutme__container-hello {
      flex: 0.3;
      color: #d6d6d6; }
      @media (max-width: 56.25em) {
        .aboutme__container-hello {
          margin-top: 5rem; } }
  .aboutme .icon {
    color: #fff; }
  .aboutme__list {
    padding: 5rem;
    height: 100%;
    border-left: 1px solid #eee; }
    @media (max-width: 56.25em) {
      .aboutme__list {
        padding: 0;
        border-left: none; } }
  .aboutme__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .aboutme__item icon {
      margin: 0 auto; }
