/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet Landscape
[1200  - 1600] is where our normal style apply
1800px + : Big 
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typograpjy + general layout + grid + page layout > Components
1em = 16px
*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 85em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

body {
  position: relative; }

img {
  image-rendering: -webkit-optimize-contrast; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  text-decoration: none;
  width: 100%; }

.heading-primary {
  color: #2998ff;
  text-transform: uppercase;
  font-size: 8rem;
  padding: 0%;
  position: relative;
  animation: moveRight 2s;
  letter-spacing: 15px; }
  @media (max-width: 85em) {
    .heading-primary {
      font-size: 5em;
      margin-top: 10rem; } }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.5em;
      margin-top: 10rem; } }
  .heading-primary-main {
    margin-top: 0%;
    display: block;
    color: #5643fa;
    position: absolute;
    top: 46%;
    left: 50%;
    font-weight: 900;
    letter-spacing: 10px; }
    @media (max-width: 85em) {
      .heading-primary-main {
        left: 10%;
        top: 60%; } }

.heading-secondary {
  color: #2998ff;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900; }
  @media (max-width: 85em) {
    .heading-secondary {
      font-size: 2.5em; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2em; } }

.heading-tertiary {
  display: inline-block;
  color: #2998ff;
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 4rem;
  font-weight: 900;
  animation: moveUp 3s;
  letter-spacing: 10px;
  text-align: center; }
  @media (max-width: 85em) {
    .heading-tertiary {
      font-size: 2em;
      margin-top: 7.5rem; } }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.5em;
      margin-top: 7.5rem; } }

.heading-quartiary {
  display: inline-block;
  color: #777;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #d6d6d6;
  letter-spacing: 5px; }
  @media (max-width: 85em) {
    .heading-quartiary {
      font-size: 2rem; } }
  @media (max-width: 37.5em) {
    .heading-quartiary {
      font-size: 1.5rem; } }

.paragraph {
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-family: "lato";
  font-size: 1.4rem;
  letter-spacing: 2px; }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 1rem;
      letter-spacing: 0;
      margin-top: 1rem; } }
  .paragraph__skills {
    color: #5643fa;
    text-transform: uppercase; }
    @media (max-width: 85em) {
      .paragraph__skills {
        font-size: 1rem; } }
  .paragraph__about {
    color: #fff;
    text-transform: uppercase; }
  .paragraph__location {
    display: inline-block; }
  .paragraph.light {
    color: #d6d6d6; }

.heading-footer {
  display: inline-block;
  color: #d6d6d6;
  font-weight: 900;
  font-family: "lato";
  font-size: 1.4rem;
  letter-spacing: 2px; }
  @media (max-width: 37.5em) {
    .heading-footer {
      font-size: 1.2rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }
  @media (max-width: 85em) {
    .u-margin-bottom-large {
      margin-bottom: 2rem; } }

.u-margin-top {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.link {
  display: inline-block;
  text-transform: uppercase;
  color: #5643fa;
  font-weight: 600;
  line-height: 20px; }

.info {
  color: #5643fa; }

@keyframes moveRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveUp {
  0% {
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.btn {
  outline: none;
  text-decoration: none;
  transition: all 0.5s;
  color: black;
  display: inline-block; }
  .btn:hover {
    transform: scale(1.1); }

.btn__links--container {
  position: relative;
  display: flex; }

.btn__link {
  display: inline-block; }

.skills .devicon-javascript-plain {
  font-size: 4rem; }

.skills .icon-redux {
  width: 4rem;
  height: 4rem; }

.icon {
  display: inline-block;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  transition: all .7s; }
  .icon.devicon-webpack-plain-wordmark {
    font-size: 5rem; }
  .icon.devicon-mysql-plain-wordmark {
    font-size: 5rem; }
    @media (max-width: 37.5em) {
      .icon.devicon-mysql-plain-wordmark {
        font-size: 2rem; } }
  .icon.icon-basic-geolocalize-01 {
    font-size: 1.5rem;
    color: #c00e0e; }
  .icon.icon-basic-eye {
    position: absolute;
    font-size: 3rem;
    top: -10%;
    left: 0; }
  .icon.react {
    fill: blue; }
  @media (max-width: 37.5em) {
    .icon {
      font-size: 3.5rem;
      width: 3.5rem;
      height: 3.5rem; } }

.footer {
  padding: 2rem;
  background: #111;
  text-align: center; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 1rem; } }

.header {
  height: 94vh;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("./img/photo-background-programming.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 85em) {
    .header {
      padding: 6rem 0; } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
      .header::after {
        content: "";
        background-image: url("./img/photo-background-programming.jpg");
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1; } }
  .header__text-box {
    background: transparent;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; }

.navigation {
  background-image: radial-gradient(#2998ff, #5643fa);
  padding: 1rem;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10000;
  width: 100%;
  opacity: .7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #f7f7f7; }
  .navigation__logo {
    width: 5%; }
    .navigation__logo img {
      display: block;
      width: 100%; }
  @media (max-width: 37.5em) {
    .navigation {
      display: none; } }
  .navigation__list {
    display: flex;
    justify-content: flex-start;
    padding: 0%;
    margin: 0%;
    height: 100%; }
    .navigation__list--item {
      background: white;
      margin: 0 2px; }
    @media (max-width: 56.25em) {
      .navigation__list {
        font-size: 12px; } }
  .navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem 2rem;
    transition: all 0.51s;
    font-weight: 700;
    color: #5643fa;
    height: 100%; }
    .navigation__link:hover {
      background: #2998ff;
      color: #fff; }

.navigation__responsive {
  border: 1px solid black;
  display: none; }
  @media (max-width: 37.5em) {
    .navigation__responsive {
      display: block; } }
  .navigation__responsive__nav {
    position: fixed;
    top: 2em;
    left: 5.65rem;
    z-index: 10000;
    opacity: 0;
    width: 0%;
    transition: opacity 0.8s; }
  .navigation__responsive__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    left: 1rem;
    background-image: radial-gradient(#2998ff, #5643fa);
    z-index: 0; }
  .navigation__responsive__button {
    border: 1px solid black;
    background: #2998ff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 1rem;
    left: 0.5rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 200000; }
  .navigation__responsive__checkbox {
    display: none; }
  .navigation__responsive__list {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    margin: 0%;
    width: 100%; }
    @media (max-width: 37.5em) {
      .navigation__responsive__list {
        flex-wrap: wrap; } }
    .navigation__responsive__list--item {
      width: 100%;
      margin: 0 auto; }
  .navigation__responsive__link:link, .navigation__responsive__link:visited {
    border: 1px solid black;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 2rem;
    transition: all 0.51s;
    font-weight: 700;
    color: #fff;
    width: 100%;
    background-image: linear-gradient(120deg, #2998ff 0%, #2998ff 50%, #fff 60%);
    background-size: 220%;
    transition: all 0.7s;
    width: 100%;
    z-index: 1;
    font-size: 1rem; }
  .navigation__responsive__link:hover, .navigation__responsive__link:active {
    color: #2998ff;
    background-position: 100%;
    transform: translate(0.5rem); }
  .navigation__responsive__checkbox:checked ~ .navigation__responsive__nav {
    opacity: 1;
    width: 15rem; }
  .navigation__responsive__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__responsive__icon, .navigation__responsive__icon::before, .navigation__responsive__icon::after {
      width: 3rem;
      height: 2px;
      background: #fff;
      display: inline-block; }
    .navigation__responsive__icon::before, .navigation__responsive__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__responsive__icon::before {
      top: -0.8rem; }
    .navigation__responsive__icon::after {
      top: 0.8rem; }
  .navigation__responsive__button:hover .navigation__responsive__icon::before {
    top: -1rem; }
  .navigation__responsive__button:hover .navigation__responsive__icon::after {
    top: 1rem; }
  .navigation__responsive__checkbox:checked + .navigation__responsive__button .navigation__responsive__icon {
    background-color: transparent; }
  .navigation__responsive__checkbox:checked + .navigation__responsive__button .navigation__responsive__icon:before {
    top: 0%;
    transform: rotate(135deg); }
  .navigation__responsive__checkbox:checked + .navigation__responsive__button .navigation__responsive__icon:after {
    top: 0%;
    transform: rotate(-135deg); }

.about {
  margin-top: -18rem;
  padding: 25rem 10rem 15rem 10rem;
  background: #f7f7f7;
  text-align: center;
  border-bottom: 2px solid #d6d6d6; }
  @media (max-width: 85em) {
    .about {
      padding: 25rem 0rem; } }
  @media (max-width: 37.5em) {
    .about {
      padding: 22rem 0rem 5rem 0rem; } }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about__box {
    width: 50%; }
    @media (max-width: 85em) {
      .about__box {
        width: 80%; } }
    @media (max-width: 37.5em) {
      .about__box {
        width: 100%; } }
  .about__text {
    padding: 1rem; }
  .about__skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem; }
    @media (max-width: 37.5em) {
      .about__skills {
        padding: 1.5rem; }
        .about__skills p {
          margin: 0; } }
    .about__skills-stacks {
      display: flex; }
      @media (max-width: 37.5em) {
        .about__skills-stacks {
          flex-direction: column; } }
    .about__skills-stack {
      width: 100%;
      border: 1px solid #d6d6d6;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      transition: all 0.6s;
      background: #eee;
      border-radius: 3px; }
      .about__skills-stack:not(:last-child) {
        margin-right: 4rem; }
      .about__skills-stack:hover {
        transform: translateY(-1.55rem);
        border-bottom: 1rem solid #5643fa; }
      @media (max-width: 37.5em) {
        .about__skills-stack {
          padding: 0%;
          margin-bottom: 2rem; }
          .about__skills-stack:not(:last-child) {
            margin-right: 0rem; } }
  .about .language--box {
    display: inline-block; }
  .about .language--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .about .language--container .icon {
      margin-bottom: 1.5rem; }
    .about .language--container p {
      font-weight: 600;
      font-size: 15px;
      color: #eee; }

.projects {
  padding: 12rem 25rem;
  text-align: center;
  border-bottom: 2px solid #d6d6d6;
  overflow-x: hidden; }
  @media (max-width: 85em) {
    .projects {
      padding: 15rem 7.5rem; } }
  @media (max-width: 37.5em) {
    .projects {
      padding: 5rem 1.5rem; } }
  .projects-cards-container {
    border-radius: 15px;
    border: transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: flex; }
    @media (max-width: 85em) {
      .projects-cards-container {
        display: block;
        border-radius: 5px;
        padding: 0rem; } }
  .projects-card {
    display: flex;
    flex-direction: column;
    border-left: 20px solid #5643fa;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    height: 35rem;
    width: 100%;
    flex: 0.5; }
    @media (max-width: 56.25em) {
      .projects-card {
        border-left: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        height: 30em; } }
    @media (max-width: 37.5em) {
      .projects-card {
        height: 25rem; } }
    @media (max-width: 37.5em) {
      .projects-card.moviemania {
        height: 20rem; } }
    @media (max-width: 37.5em) {
      .projects-card.crown-clothing {
        height: 20rem; } }
    .projects-card:hover .projects-card-github {
      transform: translateX(0);
      opacity: 1; }
    .projects-card-image {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 2rem;
      flex: 1;
      border-radius: 2px; }
      @media (max-width: 37.5em) {
        .projects-card-image {
          padding: 0.5rem; } }
      .projects-card-image .main {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid black; }
    .projects-card-icons {
      display: flex;
      width: 100%;
      padding: 2rem; }
      @media (max-width: 85em) {
        .projects-card-icons {
          padding: 1rem; } }
      @media (max-width: 56.25em) {
        .projects-card-icons {
          border-bottom: 1px solid grey;
          flex-wrap: wrap; } }
      .projects-card-icons .icon {
        margin: 0 auto; }
      .projects-card-icons .icon:hover {
        transform: rotateY(180deg); }
    .projects-card-github {
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translateX(-50%, -50%);
      height: 73%;
      width: 100%;
      background: rgba(247, 247, 247, 0.8);
      transform: translateX(-100%);
      transition: all 2s;
      opacity: 0;
      border-radius: 2px; }
      @media (max-width: 85em) {
        .projects-card-github {
          display: none; } }
      .projects-card-github .btn__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        justify-content: center; }
        .projects-card-github .btn__container .svg {
          display: flex;
          flex-direction: column;
          margin: 0; }
  .projects-textbox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem 2rem;
    flex: 0.5;
    border-right: 20px solid #5643fa;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-height: 30rem; }
    .projects-textbox .heading-quartiary {
      margin-bottom: 0; }
    @media (max-width: 85em) {
      .projects-textbox {
        border-right: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; } }
    @media (max-width: 85em) {
      .projects-textbox {
        padding: 1rem; } }
  .projects-links {
    display: none;
    font-size: 1rem; }
    .projects-links .icon {
      font-size: 3rem;
      margin: 1.5rem; }
    .projects-links .btn {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    @media (max-width: 85em) {
      .projects-links {
        display: block; } }

.connect {
  padding: 10rem 25rem;
  text-align: center;
  background: #f7f7f7;
  border-bottom: 2px solid #d6d6d6; }
  @media (max-width: 85em) {
    .connect {
      padding: 10rem 7rem; } }
  @media (max-width: 37.5em) {
    .connect {
      padding: 5rem 7rem; } }
  .connect__icons {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 85em) {
      .connect__icons {
        flex-wrap: wrap; } }
    @media (max-width: 37.5em) {
      .connect__icons {
        flex-wrap: none;
        flex-direction: column; } }
    .connect__icons--container {
      padding: 2rem;
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      min-width: 20rem; }
      @media (max-width: 37.5em) {
        .connect__icons--container {
          min-width: 5rem; } }
      .connect__icons--container.gmail {
        border: 5px solid #DD4B39;
        border-radius: 10px; }
        .connect__icons--container.gmail p {
          color: #DD4B39; }
        .connect__icons--container.gmail:hover {
          background: #b45f5f; }
          .connect__icons--container.gmail:hover p {
            color: white; }
      .connect__icons--container.twitter {
        border: 5px solid #1da1f2;
        border-radius: 10px; }
        .connect__icons--container.twitter p {
          color: #1da1f2; }
        .connect__icons--container.twitter:hover {
          background: #4267b2; }
          .connect__icons--container.twitter:hover p {
            color: white; }
      .connect__icons--container.linkedin {
        border: 5px solid #283e4a;
        border-radius: 10px; }
        .connect__icons--container.linkedin p {
          color: #283e4a; }
        .connect__icons--container.linkedin:hover {
          background: #283e4a; }
          .connect__icons--container.linkedin:hover p {
            color: white; }
      .connect__icons--container.github {
        border: 5px solid #000;
        border-radius: 10px; }
        .connect__icons--container.github p {
          color: #000; }
        .connect__icons--container.github:hover {
          background: #283e4a; }
          .connect__icons--container.github:hover p {
            color: white; }

.aboutme {
  padding: 10rem 10rem 5rem 5rem;
  background: #777;
  text-align: center;
  border-bottom: 2px solid #d6d6d6; }
  @media (max-width: 56.25em) {
    .aboutme {
      padding: 10rem 5rem; } }
  @media (max-width: 37.5em) {
    .aboutme {
      padding: 5rem 1rem; } }
  .aboutme .heading-secondary {
    color: #fff; }
  .aboutme .paragraph.light {
    text-align: start; }
    @media (max-width: 56.25em) {
      .aboutme .paragraph.light {
        text-align: center; } }
  .aboutme .paragraph.paragraph__about.u-margin-bottom-small {
    text-align: start; }
  .aboutme__container {
    display: flex; }
    @media (max-width: 56.25em) {
      .aboutme__container {
        display: block;
        text-align: center; } }
    .aboutme__container-hi {
      flex: 1;
      margin-right: 3rem; }
      .aboutme__container-hi .paragraph.paragraph__about {
        color: #2998ff;
        font-size: 2rem;
        font-weight: 600; }
      @media (max-width: 37.5em) {
        .aboutme__container-hi {
          margin-right: 0; } }
    .aboutme__container-hello {
      flex: 0.3;
      color: #d6d6d6; }
      .aboutme__container-hello .paragraph.paragraph__about {
        color: #2998ff;
        font-size: 2rem;
        font-weight: 600; }
      @media (max-width: 56.25em) {
        .aboutme__container-hello {
          margin-top: 5rem; } }
  .aboutme .icon {
    color: #fff; }
  .aboutme__list {
    padding: 0 5rem;
    height: 80%;
    border-left: 1px solid #eee; }
    @media (max-width: 56.25em) {
      .aboutme__list {
        border-left: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; } }
    @media (max-width: 37.5em) {
      .aboutme__list {
        padding: 0; } }
  .aboutme__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 0; }
    .aboutme__item * {
      display: inline-block; }
    .aboutme__item icon {
      margin: 0 auto; }
