.navigation {
    background: white;
    padding: 0%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10000;
    width: 100%;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__logo {
        width: 5%;
        & img {
            display: block;
            width: 100%;
        }   
    }

    @include respond(phone) {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        padding: 0%;
        margin: 0%;
        height: 100%;
        &--item {
            background: white;
            &:not(:first-child) {
                margin: 0 2px;
            }
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 1rem 2rem;
        transition: all 0.51s;
        font-weight: 700;
        color: $color-terciary-dark;
        height: 100%;
        flex-grow: 1;

        &:hover {
            background: $color-terciary-light;
            color: $color-white;
        }
    }
}

.navigation__responsive {
    
    border: 1px solid black;
    display: none;
    
    @include respond(phone) {
        display: block;
    }

    &__nav {
        position: fixed;
        top: 2em;
        left: 5.65rem;
        z-index: 10000;
        opacity: 0;
        width: 0%;
        transition: opacity 0.8s;
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 2rem;
        left: 1rem;
        background-image: radial-gradient($color-terciary-light, $color-terciary-dark);
        z-index: 0;
    }

    &__button {
        border: 1px solid black;
        background: $color-terciary-light;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 1rem;
        left: 0.5rem;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        z-index: 200000;
    }

    &__checkbox {
        display: none;
    }

  
    &__list {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0%;
        margin: 0%;
        width: 100%;

        @include respond(phone) {
            flex-wrap: wrap;
        }
    
        
        &--item {
            width: 100%;
            margin: 0 auto;
        }
    }
    &__link {
        &:link,
        &:visited {
            border: 1px solid black;

            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            padding: 1rem 2rem;
            transition: all 0.51s;
            font-weight: 700;
            color: $color-white;
            width: 100%;
            background-image: linear-gradient(120deg, $color-terciary-light 0%, $color-terciary-light 50%,$color-white 60%);
            background-size: 220%;
            transition: all 0.7s;
            width: 100%;
            z-index: 1;
            font-size: 1rem
        }

        &:hover,
        &:active {
            // background: $color-terciary-light;
            color: $color-terciary-light;
            background-position: 100%;
            transform: translate(0.5rem);
        }
    }
    
    // FUNCTIONALLITY

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 15rem;
    }
    

    // Icon
    &__icon {

        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background: $color-white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -0.8rem;
        }
        &::after {
           top: 0.8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }
    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon:before {
        top: 0%;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon:after {
        top: 0%;
        transform: rotate(-135deg);
    }
}