$color-terciary-light: #2998ff;
$color-terciary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: rgb(214, 214, 214);

$color-grey-dark: #777;
$color-grey-dark-1: #484848;
$color-grey-dark-2: #333;

$color-white: #fff;
$color-black: #000;
$color-red: rgb(192, 14, 14);

$color-facebook: #4267b2;
$color-twitter: #1da1f2;
$color-linkedin: #283e4a;
