.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem;
}
.u-margin-bottom-large {
    margin-bottom: 8rem;

    @include respond(tab-land) {
        margin-bottom: 2rem
    }
}


.u-margin-top {
    margin-top: 2rem;
}

.link {
    display: inline-block;
    text-transform: uppercase;
    color: $color-terciary-dark;
    font-weight: 600;
    line-height: 20px;
}

.info {
    color: $color-terciary-dark;
}