.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem;
}
.u-margin-bottom-large {
    margin-bottom: 8rem;
}

.link {
    text-transform: uppercase;
    color: $color-terciary-dark;
    font-weight: 600;
    line-height: 20px;
}

.info {
    color: red;
}