.btn {
    outline: none;
    text-decoration: none;
    transition: all 0.5s;
    color: black;
    // background: orange;
    display: inline-block;

    & .icon {
        // background: red;
    }

    &:hover {
       transform: scale(1.1);
    }

}

.btn__links--container {
    position: relative;
    display: flex;
}

.btn__link {
    display: inline-block;
    
    // &:hover {
    //     border-bottom: 5px solid $color-terciary-dark;
    // }
}