.icon {
    display: inline-block;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    transition: all .7s;
  
    &.devicon-webpack-plain-wordmark {
        font-size: 5rem;
        // transform: translateY(-2rem);

    }
    &.devicon-mysql-plain-wordmark {
        font-size: 5rem;
        // transform: translateY(-2rem);

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &.icon-basic-geolocalize-01 {
        font-size: 1.5rem;
        color: $color-red;
    }

    &.icon-basic-eye {
        position: absolute;
        font-size: 3rem;
        top: -10%;
        left: 0;
    }

    &.react {
        fill: blue;
    }

    @include respond(tab-port) {
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
    }
    @include respond(phone) {
        font-size: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }

}

 
